body, html {
  height: 100%;
  width: 100%;
}

.bg {
  /* The image used */
  background-image: url("https://assets.albiononline.com/uploads/media/default/media/334ed8c44cb9b3a58a18ca0d6e4031bdef13b6c6.jpeg");

  /* Full height */
  height: 100%;
  min-height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
